<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Pierre Port-folio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <!-- Wrap h1 in an anchor tag with the home page URL -->
            <h1><a href="index.html">Pierre Mangah</a></h1>
            <nav>
                <ul>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="media.html">Media</a></li>
                    <li><a href="https://stephane234.github.io/resume.html/">Resume</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

  
    <section id="confirmation" style="background-color: #f9f9f9; padding: 40px; border-radius: 10px;">
        <div class="container">
            <h2>Thank you!</h2>
            <p>I'll be sure to get you a response soon.</p>
        </div>
    </section>
        
    <footer id="contact">
        <div class="container">
            <p>Email: pmangah@na.edu</p>
            <p>Phone: 3468599497</p>
        </div>
    </footer>
    
</body>
</html>
