<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre Port-folio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <!-- Wrap h1 in an anchor tag with the home page URL -->
            <h1><a href="index.html">Pierre Mangah</a></h1>
            <nav>
                <ul>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="media.html">Media</a></li>
                    <li><a href="https://stephane234.github.io/resume.html/">Resume</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section id="profile-image">
        <div class="container">
            <div class="intro">
                
                <p>I was born and raised in Cote D'Ivoire where I grew up in a small town and always had good music playing around the house. These threads of family, soccer, and music have defined my life path and experiences. I am currently pursuing a Bachelor in Software Engineering at North American University. I speak four languages; French, English, Turkish and some Spanish.<br/>I enjoy travelling a lot. I have visited some countries which are France, Ghana, Turkey, Nigeria and America. <br/>I love playing soccer and watching basketball. My favorite NBA team at the moment is Maverick _Dallas.  </p>
            </div>
            <div class="circle-picture"></div> <!-- Circular profile picture -->
        </div>
    </section>

    <footer id="contact">
        <div class="container">
            <p>Email: pmangah@na.edu</p>
            <p>Phone: 3468599497</p>
        </div>
    </footer>
</body>
</html>
