<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="../styles/team.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="./team.html">Team</a>
                <a href="./beksultan.html">Beksultan</a>
                <a href="./Port-Folio_web/index.html">Pierre</a>
                <a href="./danial-62d1e3.webflow/index.html">Danial</a>
                <a href="./talha.html">Talha</a>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Team</h2>
        <div id="images">
            <img src="../images/beksultan.jpg" alt="Beksultan">
            <h3>Beksultan Pirmatov</h3>
            <img src="./Port-Folio_web/images/Myresumepic.png" alt="Pierre">
            <h3>Pierre</h3>
            <img src="../templates/danial-62d1e3.webflow/images/photo_2024-05-06-20.26.00-p-800.jpeg" alt="Danial">
            <h3>Danial</h3>
            <img src="../images/talha.jpeg" alt="Talha">
            <h3>Talha</h3>
        </div>
    </main>
    
</body>
</html>