<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="./team.html">Team</a>
                <a href="./beksultan.html">Beksultan</a>
                <a href="#pierre">Pierre</a>
                <a href="#danial">Danial</a>
                <a href="#talha">Talha</a>
            </ul>
        </nav>
    </header>
    
</body>
</html>